.status {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.status span {
    font-size: 32px;
    padding: 8px 12px;
    color: var(--white-color);
    background-color: var(--midnight-blue-color);
}

.status span:not(:last-child) {
    margin-right: 18px;
}
