.nav {
    padding: 24px;
    text-align: center;
    background: var(--midnight-grey-color);
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    color: var(--white-color);
}
.nav a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 64px;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 24px;
    width: 100%;
    text-align: center;
}
